<div id="scrollbar">
    <div id="cover" style="z-index: 1;"> 
        <div class="scrollbarcontent transitionClass" id="midscrollbarcontent" style="bottom: 48.5vh;">
            <%- include('optionBars') %>
        </div>
    </div>
    <div class="scrollbar transitionClass" id="scrollbar_mid" style="bottom: 74%;">
    </div>
</div>