<div id="scrollbar">
    <div id="cover" style="z-index: 1;">
        <div class="scrollbarcontent" id="rightscrollbarcontent" style="bottom: 48.5vh;">
            <%- include('optionBars') %>
        </div>
    </div>
    <div class="scrollbar" id="scrollbar_right" onclick="moveBottom('right')" style="bottom: 74%;">
    </div>
</div>