<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="publicstatic/js/errorHandler.js"></script>
    <script>
        clearcookies('sessionErrors, seed');
    </script>
    <link href='https://fonts.googleapis.com/css?family=Archivo Black' rel='stylesheet' onerror="failedToLoad(this, false)">
    <link rel="stylesheet" type="text/css" href="publicstatic/css/Auth.css" onerror="failedToLoad(this, true)">
    <link rel="stylesheet" type="text/css" href="publicstatic/css/options.css" onerror="failedToLoad(this, true)">
    <link rel="shortcut icon" href="publicstatic/img/favicon.png" onerror="failedToLoad(this, true)">
</head>

<body onload="loadsettings(false)" id="pagebody">
    <div id="contentbody">
        <div id="message" style="visibility: visible; color: green;"></div>
        <div id="body">