#backsplash {
    z-index: -1;
    background-color: rgb(17, 80, 131);
    width: 100%;
    height: 180%;
    position: absolute;
    left: 0%;
    top: 0%;
    cursor: none;
}

#body {
    z-index: 0;
    width: 50%;
    height: 166.25%;
    /*82*/
    position: absolute;
    left: 25%;
    top: 13.75%;
    outline: 3px solid rgb(0, 0, 0);
}

#header {
    z-index: 1;
    background-color: rgb(85, 153, 255);
    width: 100%;
    height: 8%;
    position: fixed;
    left: 0%;
    top: 0%;
    border-bottom: 3px solid black;
}

#titleBox {
    left: 45%;
}

.scrollbar {
    background-color: #4175c4;
    height: 5%;
    position: fixed;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

#scrollbar {
    z-index: 1;
    left: 0%;
    width: 100%;
}

#scrollbar_left {
    z-index: 2;
    left: 0%;
    width: 24.75%;
    position: fixed;
    border-right: 3px solid black;
}

#scrollbar_middle {
    z-index: 1;
    left: 24.75%;
    width: 50.05%;
    position: fixed;
    top: 8%;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#scrollbar_right {
    z-index: 2;
    right: 0%;
    width: 24.75%;
    position: fixed;
    border-left: 3px solid black;
}

.scrollbarcontent {
    z-index: 0;
    width: 25%;
    background-color: #034e96;
    position: fixed;
}

#leftscrollbarcontent {
    height: 55.5%;
    left: 0%;
}

#rightscrollbarcontent {
    height: 40.5%;
    right: 0%;
}

#footer {
    z-index: 3;
    background-color: rgb(85, 96, 255);
    width: 55%;
    height: 5.5%;
    position: fixed;
    left: 22.5%;
    border-top: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-radius: 40px 40px 0px 0px;
}

svg {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#titleBox {
    position: absolute;
}

#footerTable {
    /*nice*/
    position: relative;
    top: -40%;
    width: 100%;
    /*border: 3px solid black;*/
}

#Weather {
    z-index: 3;
    background-color: rgb(85, 96, 255);
    width: 55%;
    height: 40%;
    position: fixed;
    left: 22.5%;
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
}

#openweathermap-widget-21 {
    position: absolute;
    left: 3.5%;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}