body {
    background-color: #3b7175;
}

h1 {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    font-family: 'Archivo Black';
    font-size: 2em;
}

.button-13 .knobs:before {
    content: 'On';
}

.button-13 .knobs:after {
    content: 'Off';
}

.button-13 .knobs span {
    background-color: #0e5e36;
}

.button-13 .checkbox:checked+.knobs span {
    background-color: #63001f;
}

.button-13 .checkbox:checked~.layer {
    background-color: #fcebeb;
}

.button-13 .knobs:before,
.button-13 .knobs:after {
    color: #4e4e4e;
}

.layer {
    background-color: #86d199;
}

.buttoncenter {
    position: relative;
    height: 10%;
    width: 100%;
    align-content: center;
}

.labelForButton {
    position: relative;
    width: 100%;
    text-align: center;
}

.noComsPic {
    position: relative;
    top: 40px;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background-color: rgb(225, 243, 255);
    border-radius: 20px;
    align-content: center;
}

.noComsSvg {
    left: 2px;
    top: 2px;
    position: relative;
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

.button {
    top: 70%;
}

@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }
    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }
    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
}

#loadingg {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    align-content: center;
}

#titlebox {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    align-content: center;
}

.collum {
    position: absolute;
    width: 25%;
    top: 10%;
    height: 90%;
    align-content: center;
}

#collumOne {
    left: 0;
}

#collumTwo {
    left: 25%;
}

#collumThree {
    left: 50%;
}

#collumFour {
    left: 75%;
}

button {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: 3px solid black;
    border-radius: 40px;
    font-family: 'Archivo Black';
}

button:hover {
    transition: transform 3s;
    transform: scale(1.2);
}

#allOff {
    background-color: #63001f;
    position: absolute;
    left: 2%;
}

#allOn {
    background-color: #0e5e36;
    position: absolute;
    right: 2%;
}