<%- include('views/plainHeader')  %>
    <div id="title">Register</div>
    <form id="createForm" name="create" action="/createAccount" method="POST" enctype="application/json">
        <label for="parameter" id="parameterName">Name</label><br>
        <input type="text" name="parameter" id="parameter" min="4" maxlength="25" required><br>
        <button type="button" id="createFormBtn" onclick="nextInput()">Next</button>
    </form>
    <%- include('views/plainFooter', {includes: [
        "publicstatic/js/Global.js",
        "publicstatic/js/backSource.js",
        "publicstatic/js/validate.js",
        "publicstatic/js/Register.js"
    ]})  %>